nav h1 {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
  }

.card {
    text-align: justify;
    color: #ffffff;
    background-color: #6495ed;
    padding-top: 5px;
    padding-bottom: 10px;
}

#search-btn {
    color: #ffffff;
    background-color: #008000;
}

#card001 {
    color: #000000;
}

.text {
    color: #000000;
    background-color: #ffff00;
}