nav h1 {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 10px;
  }

.card {
    text-align: justify;
    color: white;
    background-color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 10px;
}

#search-btn {
    color: white;
    background-color: cornflowerblue;
}
